
*.ckpt
*.egg-info
*.pyc

logs/
logs_saved/*/checkpoints
logs_saved/*/images
logs_saved/*/wandb


data/ILSVRC2012_img_val.tar
data/ILSVRC2012_img_train.tar

Ignore data and models files
*.pth
*.cpkt
*.pkl
*.zip
models/ldm/inpainting_big/archive